.profile {
	border: 1px solid black;
	width: 15rem;
}

a i {
	color: black;
	text-shadow: 1px 1px 2px blue;
}

.profilePic {
	border: 1px solid darkslategray;
	border-radius: 5rem;
	box-shadow: 0 0 25px 5px darkslategrey;
	height: auto;
	margin-top: 2.5rem;
	width: 10rem;
}
