a i {
	color: black;
	text-shadow: 1px 1px 2px blue;
}

.body {
	background-color: whitesmoke;
	height: 100vh;
	margin-top: 10rem;
}

.profilePic {
	border: 1px solid darkslategray;
	border-radius: 5rem;
	box-shadow: 0 0 25px 5px darkslategrey;
	height: auto;
	margin-top: 2.5rem;
	width: 10rem;
}
