.navbar {
	background-color: powderblue;
	border-bottom: 2px solid darkslategray;
	border-top: 2px solid darkslategray;
	height: 10rem;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar h1 {
	line-height: 10rem;
	margin: 0 auto;
}
